* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-color: #0F0F0F;
}
.header-part {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 0 16px;
}
.all-heading-part {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
}
.left-head {
    display: flex;
    width: 169px;
    height: 56px;
}
.head-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 49px;
    cursor: pointer;
}
.left-head-logo {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 60px;
}
.left-head-logo img {
    width: fit-content;
}

form {
    display: flex;
}
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 732px;
    height: 56px;
}
.header-center input {
    padding-left: 20px;
    font-size: 16px;
    height: 40px;
    width: 536px;
    border: 1px solid #303030;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    background-color: #0F0F0F;
}
.search-btn{
    height: 40px;
    width: 60px;
    border: 1px solid #303030;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    background-color: #272727;
    cursor: pointer;
}
.header-mic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    margin-left: 30px;
    background-color: #272727;

}
.header-mic:hover{
    background-color: #222222;
}
.collab-three {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 156px;
}
.header-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 225px;
    height: 56px;
}
.re-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
}
.re-btn:hover {
    background-color: #272727;
}

.re-btnL {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}
#logo-circle {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.material-symbols-outlined {
    color: #fff;
}
